h1{
   margin-left: 50px;
   text-align: color green;

}
form{
    background-color: rgb(43, 226, 226);
    margin-left: 50px;
    border-style: double;
    width: 8cm;
    padding-left: 10px;
    
}
body{
    background-image: url(https://mediaproxy.salon.com/width/1200/https://media.salon.com/2022/05/cats-party-0516221.jpg);
    background-size: cover;
}
