.div1{
    height: 300px;
    width: 400px;
    background-color: rgb(196, 248, 255);
    transition-duration: 2s;
}
.div1:hover{
    height: 50px;
    width: 150px;
    background-color: rgb(226, 43, 92);
}
img{
    height: 150px;
    width: 150px;
transition-duration: 2s;
}
.image1:hover{
    height: 100px;
    width: 100px;
}
